{% extends "news/base.html" %}

{% block title %}Taiwan News{% endblock %}

{% block main %}
<div class="row mb-2">
    <div class="col pt-1">
        <h4 id="category">{{category}}</h4>
    </div>
    <hr>
    <div class="col-md-12">
        {% for n in news %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{n.category}}</strong>
                <h3 class="mb-0">{{n.title}}</h3>
                <div class="mb-1 text-muted">{{n.date}}</div>
                <p class="card-text mb-auto">{{n.abstract}}</p>
                <a href="{% url 'news' category=n.tag token=n.token %}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="img-thumbnail" width="300" src="{{n.image}}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}