{% extends "news/base.html" %}
{% load static %}

{% block title %}Taiwan News{% endblock %}

{% block main %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="">
    <h3 class="pt-3">Sign up</h3>
    <form action="{% url 'sign-up' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <li style="color: red">{{ error }}</li>
            {% endfor %}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>
{% endblock %}